.lander {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/land_img_mob.jpeg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.lander .logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lander h2 {
  text-align: center;
  font-weight: 200;
  font-size: 2.5rem;
  max-width: 90%;
  margin: 1rem auto;
}
.lander > * {
  z-index: 2;
}
.lander:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.7;
}
.lander > .scroll-down {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  padding: 1rem;
}
.lander > .scroll-down:hover {
  background: rgba(255, 255, 255, 0.2);
}
.lander > .scroll-down > img {
  width: 3rem;
  height: 3rem;
}
.lander > .scroll-down > svg {
  width: 100%;
  height: auto;
  fill: rgba(255, 255, 255, 0.75);
}
.lander > .waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

section {
  width: 100vh;
  height: 100vh;
}

@media (min-width: 1201px) {
  .lander {
    background-image: url(../img/land_img_desk.jpeg);
  }
  .lander h2 {
    font-size: 3.25rem;
  }
  .lander > .scroll-down img {
    width: 8rem;
    height: 8rem;
  }
}
