@use "sass:map";

@font-face {
    font-family: 'Glory';
    src: url(../fonts/Glory-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'A4 SPEED';
    src: url(../fonts/A4SPEED-Bold.ttf);
}

.btn {
    width: auto;
    border-radius: 100px;
    display: inline-flex;
    padding: 15px 30px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &.btn-lg {
        padding: 20px 40px;
        font-size: 1.25rem;
    }

    &.btn-xl {
        padding: 20px 38px;
        font-size: 1.5rem;
    }

    &.btn-block {
        width: 100%;
    }
}

$colors: ("primary": #580980, "secondary": #E86A4D, "red": #B82F4D);

@each $name, $color in $colors {
    .bg-#{$name} {
        background: $color;
    }

    .text-#{$name} {
        color: $color;
    }

    .btn-#{$name} {
        background: $color;
        
        &:hover {
            background: lighten($color, 5%);
        }

        &:active {
            background: darken($color, 10%);
        }
    }
}

html, body {
    background: #160220;
    color: #FFFFFF;
    font-family: 'Glory';
    margin: 0;
    scroll-behavior: smooth;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

nav {
    .logo {
        font-family: 'A4 SPEED';
    }
}

.logo {
    font-family: 'A4 SPEED';
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.h-100 {
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-light {
    font-weight: 200;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .1rem;
    margin-bottom: 1rem;

    label {
        font-size: 22px;
        margin-bottom: .5rem;
    }
}

input {
    background: lighten(map.get($colors, 'primary'), 10%);
    border: none;
    font-size: 16px;
    padding: .75rem 1.25rem;
    margin-bottom: .2rem;
    color: #FFFFFF;
    border-radius: 2px;

    &::placeholder {
        color: #FFFFFF;
        opacity: 0.7;
        text-transform: capitalize;
    }
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

// nav {
//     .menu-toggler {
//         .icon {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: space-between;

//             span {
//                 background: white;
//                 width: 100%;
//                 height: 2px;
//             }
//         }
//     }
// }

nav {
   display: none; 
   > .nav-mobile {
    
   }
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .btn {
        font-size: 1.25rem;

        &.btn-lg {
            font-size: 1.75rem;
        }

        &.btn-xl {
            padding: 1.5rem 3rem;
            font-size: 2rem;
        }
    }
}

@media (min-width: 1200px) {
    .btn {
        font-size: 1.4rem;

        &.btn-lg {
            font-size: 2.5rem;
        }

        &.btn-xl {
            padding: 1.25rem 3rem;
            font-size: 2rem;
        }
    }
}